@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Alata&family=Lato:wght@300;400;700;900&family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@font-face {
  font-family: "twenty";
  src: url(../public/ltc_twentieth/LTC\ Twentieth\ Century\ W00MdAlt.ttf);
}

::selection {
  background-color: #ba141a;
  color: white; /* Optional: Set text color to white for better contrast */
}

/* CSS for the marquee animation */
@keyframes marquee {
  0% {
    transform: translateX(250%);
  }
  100% {
    transform: translateX(-150%);
  }
}

/* Style for currency items */
.currency-item {
  display: inline-block;
  padding: 0 20px; /* Adjust the padding as needed */
  white-space: nowrap;
}

.hero_grid
 {
  display: grid;
  grid-template-columns: 75% 22%;
  gap: 3%;
 }

 @media (max-width: 768px) { 
  .hero_grid {
    grid-template-columns: 100%;
  }
  }
@layer components {
  .active_class {
    text-decoration: underline;
    text-underline-offset: 19px;
    text-decoration-color: black;
    text-decoration-thickness: 2px;
  }
}
